#### The Largest Subsets Test

In [1]:
import pandas as pd
pc_df = pd.read_excel("PCard_Data2009-2014.xlsx")
pc_df['Amount'] = pc_df['Amount'].abs()
pc_df['Description'] = pc_df['Description'].str.replace(', Not Elsewhere Classified','')
pc_df['Description'] = pc_df['Description'].str.replace('Not Elsewhere Classified','')
pc_df['Year'] = pc_df['Date'].dt.year
pc_df

,Date,Amount,Merchant,State,Description,Agency,Year
0,2009-01-02,1700.00,WASHINGTON HISPANIC,MD,Advertising Services,Department of Motor Vehicles,2009
1,2009-01-02,23.16,STAPLES DIRECT00209908,CA,"Stationery,Office Supplies,Printing/Writing Paper",Metropolitan Police Department,2009
2,2009-01-02,9.48,AMAZON.COM,WA,Book Stores,Department of Property Management,2009
3,2009-01-02,24.61,FEDEX KINKO'S #0671,DC,"Quick-Copy, Reproduction and Blueprinting Serv...",Fire & Emergency Medical Services,2009
4,2009-01-02,31.65,J&R SOUND/MAILORDER,NY,Direct Marketing - Catalog Merchants,Office of the State Superintendent of Education,2009
...,...,...,...,...,...,...,...
193786,2014-12-31,2269.01,AMERICAN BUSINESS SUPP,DC,"Office,Photographic,Photocopy,and Microfilm Equip",DC Public Library,2014
193787,2014-12-31,2519.78,STANDARD OFFICE SUPPLY,DC,"Stationery, Office & School Supply Stores",Fire & Emergency Medical Services,2014
193788,2014-12-31,2894.15,AOP BUSINESS SERVICES,DC,"Stationery,Office Supplies,Printing/Writing Paper",Department of Human Services,2014
193789,2014-12-31,4900.00,"IN *CRWP EAGLESYSTEMS,",MD,"Genl Contractors-Residential, and Commercial",DC Public Library,2014
193790,2014-12-31,4998.00,LASER ART INC,DC,"Stationery, Office & School Supply Stores",DC Lottery & Charitable Games Control Board,2014

In [3]:
pc_df.pivot_table(index = "Merchant", columns = "Year", values = "Amount", aggfunc='count')

Year                    2009  2010  2011  2012  2013  2014
Merchant
19275719                 NaN   1.0   NaN   NaN   NaN   NaN
# 0501 LA QUINTA INNS   11.0   NaN   NaN   NaN   NaN   NaN
# 0583 LA QUINTA INNS    5.0   NaN   NaN   NaN   NaN   NaN
# 0633 LA QUINTA INNS    NaN   1.0   NaN   NaN   NaN   NaN
#427 SHERATON METAIRIE   NaN   1.0   NaN   NaN   NaN   NaN
...                      ...   ...   ...   ...   ...   ...
ZORO TOOLS INC           NaN   NaN   NaN   NaN   1.0   2.0
ZUMA OFFICE SUPPLY       NaN   NaN   2.0   NaN   NaN   2.0
ZUMMO INC                NaN   1.0   NaN   NaN   NaN   NaN
ZUMRO INC                1.0   2.0   NaN   NaN   2.0   NaN
ZZOUNDS.COM              1.0   NaN   NaN   1.0   NaN   2.0

[31568 rows x 6 columns]

In [4]:
pc_df.pivot_table(index = "Merchant", columns = "Year", values = "Amount", aggfunc='sum')

Year                       2009     2010    2011   2012    2013    2014
Merchant
19275719                    NaN   109.00     NaN    NaN     NaN     NaN
# 0501 LA QUINTA INNS   5198.01      NaN     NaN    NaN     NaN     NaN
# 0583 LA QUINTA INNS    722.16      NaN     NaN    NaN     NaN     NaN
# 0633 LA QUINTA INNS       NaN   864.00     NaN    NaN     NaN     NaN
#427 SHERATON METAIRIE      NaN   292.03     NaN    NaN     NaN     NaN
...                         ...      ...     ...    ...     ...     ...
ZORO TOOLS INC              NaN      NaN     NaN    NaN    54.9  270.79
ZUMA OFFICE SUPPLY          NaN      NaN  248.91    NaN     NaN  981.52
ZUMMO INC                   NaN   157.00     NaN    NaN     NaN     NaN
ZUMRO INC               1563.60  2040.00     NaN    NaN  1080.0     NaN
ZZOUNDS.COM             2420.79      NaN     NaN  225.9     NaN  479.98

[31568 rows x 6 columns]

In [5]:
stacked = pc_df.pivot_table(index = "Merchant", columns = "Year", values = "Amount", aggfunc='sum')
unstacked = stacked.unstack()
unstacked

Year  Merchant
2009  19275719                      NaN
      # 0501 LA QUINTA INNS     5198.01
      # 0583 LA QUINTA INNS      722.16
      # 0633 LA QUINTA INNS         NaN
      #427 SHERATON METAIRIE        NaN
                                 ...
2014  ZORO TOOLS INC             270.79
      ZUMA OFFICE SUPPLY         981.52
      ZUMMO INC                     NaN
      ZUMRO INC                     NaN
      ZZOUNDS.COM                479.98
Length: 189408, dtype: float64

In [6]:
type(unstacked)

pandas.core.series.Series

In [8]:
pc_df['Merchant'].value_counts().to_clipboard()

In [9]:
numbers = [8000,200,200,150]
numbers

[8000, 200, 200, 150]

In [11]:
max(numbers)

8000

In [12]:
numbers.sort()

In [13]:
numbers

[150, 200, 200, 8000]

In [14]:
numbers[-1]

8000

In [16]:
numbers[1]

200

In [17]:
numbers = [8000,200,200,150]
numbers.sort()
Largest = numbers[-1]
Semi_Largest = numbers[-2]
RSF = Largest/Semi_Largest
print(RSF)

40.0

In [21]:
pc_df.loc[pc_df['Merchant'] == 'WASHINGTON HISPANIC']

,Date,Amount,Merchant,State,Description,Agency,Year
0,2009-01-02,1700.0,WASHINGTON HISPANIC,MD,Advertising Services,Department of Motor Vehicles,2009
27407,2009-12-16,2700.0,WASHINGTON HISPANIC,MD,Advertising Services,Office of Human Rights,2009
40860,2010-05-28,350.0,WASHINGTON HISPANIC,MD,Advertising Services,Office of the Tenant Advocate,2010
64337,2011-02-08,750.0,WASHINGTON HISPANIC,MD,News Dealers & Newsstands,Commission on Arts & Humanities,2011
71560,2011-04-26,700.0,WASHINGTON HISPANIC,MD,News Dealers & Newsstands,Commission on Arts & Humanities,2011
81239,2011-08-11,300.0,WASHINGTON HISPANIC,MD,News Dealers & Newsstands,DC Public Library,2011
98559,2012-02-08,700.0,WASHINGTON HISPANIC,MD,News Dealers & Newsstands,Office of the Secretary,2012
127387,2012-12-19,250.0,WASHINGTON HISPANIC,MD,News Dealers & Newsstands,Department on Disability Services,2012
143759,2013-06-25,800.0,WASHINGTON HISPANIC,MD,News Dealers & Newsstands,District Department of Transportation,2013
153093,2013-09-30,120.0,WASHINGTON HISPANIC,MD,News Dealers & Newsstands,OFFICE OF PEOPLE'S COUNSEL,2013
167515,2014-04-08,700.0,WASHINGTON HISPANIC,MD,News Dealers & Newsstands,DC Public Library,2014
173511,2014-06-10,277.0,WASHINGTON HISPANIC,MD,News Dealers & Newsstands,DC Public Library,2014
177215,2014-07-17,1800.0,WASHINGTON HISPANIC,MD,News Dealers & Newsstands,Department of Parks & Recreation,2014
184550,2014-09-18,336.0,WASHINGTON HISPANIC,MD,News Dealers & Newsstands,DC Public Library,2014

In [46]:
single_RSF_df = pc_df.loc[pc_df['Merchant'] == 'STAPLES DIRECT00209908']

single_RSF_df_amount = single_RSF_df['Amount']
RSF = single_RSF_df_amount.nlargest(2).values[0]/single_RSF_df_amount.nlargest(2).values[1]
RSF

1.1429291958881738

In [42]:
def calculate_RSF(Merchant,Amount):
    single_RSF_df = pc_df.loc[pc_df[Merchant] == Merchant]
    single_RSF_df_amount = single_RSF_df[Amount]
    RSF = single_RSF_df_amount.nlargest(2).values[0]/single_RSF_df_amount.nlargest(2).values[1]
    return RSF

In [55]:
groups

In [57]:
pc_df["Amount"].nlargest()

128672    143500.00
112370    100411.00
112069     99999.99
112369     99999.99
124883     99999.99
Name: Amount, dtype: float64

In [58]:
groups=pc_df.groupby("Merchant")["Amount"].nlargest(2)

KeyboardInterrupt: